CompileFlags:
  Add:
    - "-I/home/cjayross/.local/src/lean/sodium.v4.27/.lake/build/libsodium-build/install/include"
    - "-I/home/cjayross/.elan/toolchains/leanprover--lean4---v4.27.0/include"
    - "-fPIC"
    - "-std=c17"
  CompilationDatabase: ".lake/"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
